/* Global styles */

:root {
    --clr-primary-01: #49DEFF;
    --clr-primary-02: #4FFFDF;
    --clr-primary-03: #303030;
    --clr-primary-04: #ffffff;
    --clr-secondary-01: #4E4E4E;
    --clr-secondary-02: #DEDEDE;
    --clr-secondary-03: #F4F4F4;
    --clr-secondary-04: #F9F9F9;

    --ff-primary: 'Jost', sans-serif;

    --ff-body: var(--ff-primary);

    --fw-regular-400: 400;
    --fw-semibold-500: 500;
    --fw-bold-700: 700;
    --grid: 1fr;
    padding-left: 50px;
    padding-left: 50px;
    padding-top: 0;
    padding-bottom: 20px;
    height: webkit-fill-available;
}

.fw-semibold-500 {
    font-weight: var(--fw-semibold-500);
}
.fw-semibold-600 {
    font-weight: var(--fw-semibold-600);
}
.fw-semibold-700 {
    font-weight: var(--fw-semibold-700);
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol, li {
  list-style: none;
  text-decoration: none;
}
/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* header section */

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 1rem;
    /* border: rgb(40, 28, 109) solid 1px; */
    gap: 10px;
}

/* Nav-bar section */

.nav-bar {
    padding: 1rem;
    /* border: red solid 1px; */
    flex-basis: auto;
}

.nav-logo {
    color: var(--clr-primary-03);
    font-weight: var(--fw-bold-700);
    align-content: left;
    font-size: 1.5rem;
}

.nav-list {
    display: flex;
    flex-direction: start;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: var(--clr-primary-03);
    flex-wrap: wrap;
    flex-grow: 1;
  }


.nav-list {
    display: flex;
    flex-direction: row;
}
  .nav-list li {
    margin-right: 10px;
    /* Adjust the spacing between list items as needed */
  }
  
  .nav-list li:last-child {
    margin-right: 0; /* Remove the margin from the last list item */
  }
  

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 38px;
    gap: 10px;

    width: 127px;
    height: 56px;
    color: var(--clr-primary-04);
    background: var(--clr-primary-03);
    border-radius: 5px;
}

/* main heading section */

.banner-content {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    max-height: 200px;
    gap: 30px;
    /* border: 1px solid blue; */
} 

.heading {
    display: flex;
    flex-direction: row;
    max-height: 600px;
    /* border: solid 1px red; */
    margin-bottom: 70px;
}

.banner-header-title {
    font-family: var(--ff-body); 
    font-weight: 600;
    font-size: 50px;
    line-height: 133.2%;
    color: var(--clr-primary-03);
    /* border: 1px solid #000000; */
    text-transform: capitalize;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
}

.banner-btns {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.banner-btn-1 {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 39px;
gap: 10px;

width: 183px;
height: 60px;
color: white;
background: #303030;
border-radius: 5px;

}

.banner-btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 39px;
gap: 10px;
background-color: white;
width: 183px;
height: 60px;
border-radius: 5px;

}

.header-image {
    grid-area: header-image;
}

.header-image-1 {
    position: relative;
width: 232.09px;
height: 198.06px;
left: 75px;
top: 34.81px;
transform: rotate(-9.46deg);
}

.header-image-2 {
    position: relative;
width: 256.12px;
height: 255.09px;
left: 147.33px;
top: -46.84px;
transform: rotate(-11.89deg);
}

.header-image-3 {
    position: relative;
width: 240px;
height: 240.29px;
left: 314px;
top: -378px;
transform: rotate(-12.89deg);
}

.header-image-4 {
    position: relative;
width: 194px;
height: 142.83px;
left: 268.56px;
top: -682px;
transform: rotate(-12.89deg);
}

.header-image-5 {
    position: relative;
width: 474.31px;
height: 365.39px;
left: 194.67px;
top: -578.25px;
transform: rotate(-7.89deg);
}

.five-star {
    display: flex;
    flex-direction: row-reverse;
    row-gap: 10px;
    /* border: solid 1px green; */
}

/*
.banner-background {

     TODO: add gradient background 
    
    display: inline-block;
    position: absolute;
width: 1527.06px;
height: 1533.35px;
left: 2368.59px;
top: 813.6px;

background: conic-gradient(from 180deg at 50% 50%, rgba(73, 222, 255, 0.72) 0deg, rgba(79, 255, 223, 0.71) 360deg);
mix-blend-mode: normal;
transform: rotate(158.91deg)
} */



/* Features section */

.features {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.features-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    
    /* max-width: 871px;
    min-height: 153px; */

}

.features-sub-content {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
    padding-left: 140px;
    padding-right: 140px;
}

.features-title {
    display: inline-block;
    justify-self: center;
}
    
.features.title-content {
    display: inline-block;
    justify-self: center;
    align-items: center;
}

.features.icon-1, .icon-2, .icon-3 {
    grid-area: span 2;
}    

.items {
    text-decoration: #49DEFF;
}

.features-sub-content-item-1, .features-sub-content-item-2, .features-sub-content-item-3 {
    padding: 20px;
}

.grey-box {
    background: rgba(244, 244, 244, 0.93);
    box-shadow: inset -2.57262px 2.57262px 0px #FFFFFF;
    border-radius: 10px;
}

.white-box{
    background: #FFFFFF;
box-shadow: 0px 28px 57px rgba(190, 190, 190, 0.25);
border-radius: 10px;
}

/* core features section */
.core-features-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-items: space-evenly;
    padding: 70px;
}

.core-features-images {
    display: grid;
    grid-template-areas: "core-features-image-1 core-features-image-1 core-features-image-1"
    "core-features-image-2 core-features-image-2 core-features-image-3"
    "core-features-image-4 core-features-image-4 core-features-image-4";
    max-width: 533px;
    max-height: 568px;

}

.core-features-image-1 {
    grid-area: core-features-image-1;
}

.core-features-image-2 {
    grid-area: core-features-image-2;
}

.core-features-image-3 {
    grid-area: core-features-image-3;
}

.core-features-image-4 {
    grid-area: core-features-image-4;
}

.core-features-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
padding: 0px;
gap: 30px;
margin: 30px;
}




/* fonts and text styles */
.section-title {
    font-weight: var(--fw-semibold-600);
    padding: 0%;
}

.sub-title {
    font-weight: 500;
}

.section-text {
    justify-content: center;
    font:'open sans';
    font-weight: var(--fw-regular-400);
}


/* why choose us section */
.why-choose-us {
    display: flex;
    flex-direction: row;
    /* border: solid 1px salmon; */
}
.why-us-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 70px;
    justify-content: center;
    
}

.why-us-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 39px;
    gap: 10px;
    color: var(--clr-primary-04);
    width: 183px;
    height: 60px;

    background: #303030;
    border-radius: 5px;
}

.why-us-image {
    padding-right: 70px;
}


/* client logos section
TODO - add dividing lines between the */
.client-logos {
    display: flex;
    flex-direction: column;
    padding: 20 px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid magenta; */
    padding: 20px;
    margin: 50px;
}

.line-1 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    max-width: 1300px;
    max-height: 40px;
    margin: 10px;
}
.line-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1300px;
    max-height: 40px;
    margin: 10px;
    
}
.line-3 {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    max-height: 40px;
    justify-content: center;
    margin: 10px;
}

/* Newsletters section */
.newsletter {
    display: flex;
    flex-direction: column;
    /* border: 1px solid brown; */
    justify-content: center;
    align-items: center;
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    column-gap: 10px;
    width: 600px;
    /* color: var(--clr-primary-04); */
}


.newsletter-image {
    display: inline-block;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

.input-suggestion {
    width: 30%;
    height: 40px;
}

.newsletter-btn {
    width: 20%;
height: 40px;

background: #4BE3EB;
border-radius: 5px;
}


/* products section */
.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellowgreen; */
    padding: 20px;
}

.products-content {
    display: flex;
    flex-direction: row;
    background-color: var(--clr-secondary-04);
    border-radius: 25px;
    padding: 10px;
    padding-top: 30px;
    border: 3px dashed #DBDBDB;
    border-radius: 30px;
    border-spacing: 10px;
}

.item-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 41px;
    gap: 10px;
    font-weight: 600;
    color: var(--clr-primary-04);
    width: 156px;
    height: 55px;

    background: #303030;
    border-radius: 5px;
}

.products-sub-content {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 20px;
    
}

.box-1, .box-2, .box-3 {
    display: flex;
    flex-direction: row;
    
}

.products-item-1, .products-item-2, .products-item-3, .products-item-4 {
    display: flex;
    flex-direction: row;
    border-bottom: var(--clr-secondary-02) 1px solid;
    /* remove border after the last child */
}
.product-icon {
    width: 56px;
    height: 55px;
    margin-right: 10px;
}

.products-sub-content, .box-3 {
    padding-top: 10px;
    /* TODO: fix the padding in box-3  */
}

/* how-it-works section */

.how-it-works {
    display: flex;
    flex-direction: row; 
    flex-basis: 1;
    /* border: 1px solid mediumpurple; */
    padding-left: 90px;
    margin: 50px;
    gap: 40px;
}

.how-it-works-content {
    display: flex;
    flex-direction: column;
    padding-right: 20px;

}

.how-it-works-items {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.how-it-works-item-1, .how-it-works-item-2, .how-it-works-item-3 {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #fff, #f4f4f4) border-box;
    border-radius: 20px;
    border: 1px solid transparent;
    }

.how-it-works-icon {
    width: 30px;
    height: 18px;
}

.app-store {
    display: flex;
    flex-direction: column;
    background: var(--clr-secondary-03);
    padding-left: 30px;
    margin-top: 75px;
    height: 420px;
    border-radius: 30px 0 0 30px;
    flex-wrap: wrap;
}

.app-lable {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 78%;
    padding-right: 21px;
}

.app-font-color {
    color: #3BA3C8;
}

.signup {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 495px;
    min-height: 74px;
}

.mobile-screen {
    width: 148px;
    height: 287px;
    left: -33.93px;
    top: 58px;
    position: relative;
}

/* .store-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 39px;
    gap: 10px;
    color: var(--clr-primary-04);
    width: 183px;
    height: 60px;

    background: #303030;
    border-radius: 5px;
} */

.apple, .google {
    width: 150px;
    height: 54px;
}

/* testimonials section TODO: background should fit full screen*/

.testimonials {
    background-color: var(--clr-primary-03);
    color: var(--clr-primary-04);
}

.testimonial-name {
    font-size: 30px;
    margin-bottom: 5px
}

.testimonial-role {
    font-style: normal;
    margin: 0;
}

.testimonial-text {
    margin: 10px;
    max-width: 700px;
    /*TODO: fix the text overflow */
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.change-clr {
    color: #47CFFF;
}

.stats {
    padding-bottom: 40px;
    
}

.stats-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* 
.slider-prev {
TODO: slider was a bit complicated, fix it later
}  */
  
.slider-next {
    color: white;
    font-size: larger;
}

  .testimonial-rating {
    width: 147px;
    height: 28px;
    margin: 10px;
  }

  /* pricing section */

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }

.pricing-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing-content-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    height: 600px;
    width: 800px;
  }
  
  .pricing-list li:before {
    content: '✓ ';
  }

  .pricing-type-title{
    margin:10px;
    font-weight: var(--fw-regular-400);
  }

.price-tag {
    font-weight: 700;
font-size: 30px;
}

.pricing-icon {
    padding: 0;
    margin: 0;
}

.pricing-type-1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 700px;
    width: 350px;
    padding: 23px;
    padding-top: 70px;
}

.pricing-type-2 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    height: 800px;
    width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  } 

  .pricing-background {
    mix-blend-mode: normal;
    transform: matrix(1, 0, 0, -1, 0, 0);
    position: absolute;
    width: 837px;
    height: 283px;
    top: 6970px;
    opacity: 0.1;
    background: conic-gradient(from 180deg at 50% 50%, rgba(73, 222, 255, 0.72) 0deg, rgba(79, 255, 223, 0.71) 360deg);
    border-radius: 10px;
  }

  .pricing-btn-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 200px;
    height: 50px;
    background: #EAEAEA;
border-radius: 15px;
  }

  .pricing-btn-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 10px;
    width: 200px;
    height: 50px;
    color: white;
    background: #303030;
box-shadow: 0px 28px 57px rgba(190, 190, 190, 0.25);
border-radius: 15px;
  }

  /* footer section */
.footer {
    display: flex;
    flex-direction: column;
    padding:20px;
    margin: 50px;
    background-color: var(--clr-primary-03);
    color: var(--clr-primary-04);
}

.footer-section > a {
    color: var(--clr-primary-04);
    text-decoration: none;
    list-style: none;
}

.footer-section > a:hover {
    color: var(--clr-primary-01);
}

.footer-bar {
    display: flex;
    flex-direction: row;
    /* border: solid 1px white; */
    flex-direction: flex-start;
}

.footer-items {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
}

.footer-item-1, .footer-item-2, .footer-item-3 {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}
.footer-link {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}