/* Global styles */

:root {
    --clr-primary-01: #49DEFF;
    --clr-primary-02: #4FFFDF;
    --clr-primary-03: #303030;
    --clr-primary-04: #ffffff;
    --clr-secondary-01: #4E4E4E;
    --clr-secondary-02: #DEDEDE;
    --clr-secondary-03: #F4F4F4;
    --clr-secondary-04: #F9F9F9;

    --ff-primary: 'Jost', sans-serif;

    --ff-body: var(--ff-primary);

    --fw-regular-400: 400;
    --fw-medium-500: 500;
    --fw-bold-700: 700;
    --grid: 1fr;
}

.fw-semibold-500 {
    font-weight: var(--fw-semibold-500);
}
.fw-semibold-600 {
    font-weight: var(--fw-semibold-600);
}
.fw-semibold-700 {
    font-weight: var(--fw-semibold-700);
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol, li {
  list-style: none;
  text-decoration: none;
}
/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* main starts here */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    max-width: 1400px;
    padding: 1rem;
    border: rgb(40, 28, 109) solid 1px;
    gap: 10px;

    
}


.nav-bar {
    
    padding: 1rem;
    border: red solid 1px;
    flex-basis: auto;
}

.nav-logo {
    color: var(--clr-primary-03);
    font-weight: var(--fw-bold-700);
    align-content: left;
    font-size: 1.5rem;
}

.nav-list {
    display: flex;
    flex-direction: start;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: var(--clr-primary-03);
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  .nav-list li {
    margin-right: 10px; /* Adjust the spacing between list items as needed */
  }
  
  .nav-list li:last-child {
    margin-right: 0; /* Remove the margin from the last list item */
  }
  

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 38px;
    gap: 10px;

    width: 127px;
    height: 56px;
    color: var(--clr-primary-04);
    background: var(--clr-primary-03);
    border-radius: 5px;
}

.testimonials {
    background-color: var(--clr-primary-03);
    color: var(--clr-primary-04);
}


.footer {
    background-color: var(--clr-primary-03);
    color: var(--clr-primary-04);
}

.footer-section > a {
    color: var(--clr-primary-04);
    text-decoration: none;
    list-style: none;
}

.footer-section > a:hover {
    color: var(--clr-primary-01);
}

.sub-title-dark {
    
}